/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Meyer reset ends here */

* {
	box-sizing: border-box;
}

body {
	width: 100%;
}

.fixed-bar {
	width: inherit;
	height: 120px;
	border: 1px solid black;
	position: fixed;
	z-index: 9999;
}

.left-header-logo, .right-header-logo, .nav-bar {
	display: inline-block;
	height: 100%;
	float: left;
}

.left-header-logo, .right-header-logo {
	width: 10%;
}

.nav-bar {
	width: 80%;
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(0deg, black, dimgrey); /* For Safari 5.1 to 6.0 */
    background:    -moz-linear-gradient(0deg, black, dimgrey); /* For Firefox 3.6 to 15 */
    background:      -o-linear-gradient(0deg, black, dimgrey); /* For Opera 11.1 to 12.0 */
    background:         linear-gradient(0deg, black, dimgrey); /* Standard syntax */

}

.nav-items {
	width: 100%;
	margin: 0 auto;
	position: relative;
	top: 50%;
	transform: translateY(-9px);
}

.nav-items li {
	display: inline-block;
	margin-right: 20%;	
}

.nav-items li:first-child {
	margin-left: 8%;
}

.nav-items li:last-child {
	margin-right: 0;
}

.nav-items li a {
	text-decoration: none;
	font-size: 1.4em;
	color: #FFF;
	font-family: sans-serif;
}

.nav-items li a:hover {
	cursor: crosshair;
}

.home-background-image {
	text-align: center;
	height: 550px;
	width: 100%;
	background-image: url(../assets/pexels-photo.jpeg);
	background-size: cover;
	font-family: 'Yantramanav', sans-serif;
	color: #FFF;
	padding-top: 250px;

}

.home-background-image h1 {
	font-size: 8rem;
}

.home-feature-area {
	width: 100%;
	height: 900px;
	padding-top: 40px;
	background-color: dimgrey;
}

.menu-ref, .about-ref, .location-ref {
	width: 60%;
	height: 250px;
	margin: 0 auto;
	margin-bottom: 40px;
	background-color: #FFF;
}


.menu-ref img, .about-ref img, .location-ref img {
	float: left;
}

.menu-ref-text, .about-ref-text, .location-ref-text {
	width: 50%;
	float: right;
	text-align: center;
	font-family: "Yantramanav", sans-serif;
	font-size: 1.5rem;
	padding-top: 10px;
}

.ref-btn {
	width: 20%;
	height: 60px;
	clear: both;
	position: relative;
	left: 15%;
	margin-top: 30px;
	border-radius: 10%;
	font: 1.5rem "Yantramanov", sans-serif; 
}

.mouth-foot {
	width: 80%;
	height: 110px;
	margin: 30px 10%;
}

.mouth-foot h4, .mouth-foot p {
	display: inline-block;
	margin-right: 20%;
}

.copyright-text {
	line-height: 100px;
	vertical-align: text-top;
	margin-right: 10%;
}

.mouth-foot h4 {
	margin-right: 10%;
	font: 2rem/3rem "Yantramanov", sans-serif;
	text-transform: uppercase;
}

.social-media-icons {
	display: inline-block;
	width: 30%;
}
.social-media-icons li {
	display: inline-block;
	padding-right: 15%;
}	

.social-media-icons li:last-child {
	padding-right: 0;
}

/* Containing floated elements mafucka */
.fixed-bar::before,
.fixed-bar::after,
.menu-ref::before,
.menu-ref::after,
.location-ref::before,
.location-ref::after
.about-ref::before,
.about-ref::after {
  content: "";
  display: table;
}

.fixed-bar::after,
.menu-ref::after,
.location-ref::after,
.about-ref::after {
  clear: both;
}

.fixed-bar,
.menu-ref,
.location-ref,
.about-ref {
  clear: both;
  *zoom: 1;
}
/* contain complete mafucka */